html, body, .landing {
    height: 100%;
}
.image::before {
    opacity: 0.9;
    background: url(../img/photo-1421218108559-eb1ff78357f5.jpg);
    background-size: cover;
    background-position: bottom;
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
}
a.btn {
    color: #fff;
}
.sub-heading {
    font-size: 3rem;
    color: #fff;
}
h1, h1:hover, h1:active {
    font-size: 5rem;
}
h2 {
    color: #dc4550;
    font-weight: bold;
    margin-top: 30px;
}
.first {
    padding: 140px 0;
}
.buttons {
    padding: 50px 0;
    /*color: #fff;*/
}
.btn, .btn:hover {
    color: #fff;
    font-size: 24px;
    padding: 6px 24px;
}
.btn.btn-login {
    background: #ffb000;
}
.btn.btn-signup {
    background: #ffb000;
}
.second {
    background: #fff;
}
.illustration {
    max-height: 100%;
    margin-bottom: 20px;
    background-size: cover;
    background-position: center;
}
.illustration.tell {
    background: url(../img/screens/edit.png);
}
.illustration.explore {
    background: url(../img/screens/list.png);
}
.illustration.plan {
    background: url(../img/screens/plan.png);
}