<div class="container list">
    <div class="row">
        <div class="col-md-12 col-xs-12">
            <h2 class="title text-center">Explore the world</h2>
        </div>
    </div>
    <div class="row row-map" ng-repeat="map in maps">
        <div class="col-md-4">
            <img ng-if="map.photo" ng-src="{{ map.photo }}" class="img-responsive">
        </div>
        <div class="col-md-8">
            <a href="#/journey/{{ map.id }}"><h3>{{ map.title }}</h3></a>
            <p>by <a href="/#/{{ map.user.id }}">@{{ map.user.name }}</a></p>
            {{ map.description }}
        </div>
    </div>
</div>
