<div class="container list">
    <div class="row">
        <div class="col-md-12 col-xs-12">
            <img class="img-circle img-responsive center-block" src="{{ maps.author.photo }}" width="50"/>
            <h2 class="title text-center">{{ maps.author.name }}</h2>
        </div>
    </div>
    <div class="row row-map" ng-repeat="map in maps.maps">
        <div class="col-md-4">
            <img ng-if="map.photo" ng-src="{{ map.photo }}" class="img-responsive">
        </div>
        <div class="col-md-8">
            <a href="#/journey/{{ map.id }}"><h3>{{ map.title }}</h3></a>
            {{ map.description }}
        </div>
    </div>
</div>
