<div class="container list">
    <div class="row">
        <div class="col-md-12 col-xs-12">
            <img class="img-circle img-responsive center-block" src="{{ maps.author.photo }}" width="50"/>
            <h2 class="title text-center">{{ maps.author.name }}</h2>
        </div>
    </div>
    <div class="row" ng-repeat="map in maps.maps">
        <div ng-if="map.photo" class="image-container">
            <img ng-src="{{ map.photo }}" class="img-responsive">
        </div>
        <a href="#/journey/{{ map.id }}"><h3>{{ map.title }}</h3></a>
        {{ map.description }}
    </div>
</div>
